<div class="container center">
    <img src="../loader.gif" class="loader" style="display:none;">
    <section class="inner-layout">
        <h2>Set Password</h2>
        <form action="" method="post">
            <div class="container">
                <input type="hidden" name="temp_id" value="{{temp_id}}">
                <input type="hidden" name="code" value="{{code}}">
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <label for="confirm_password"><b>Confirm Password</b></label>
                <input type="password" placeholder="Confirm Password" name="confirm_password" required>
                <button type="submit">Save</button>
            </div>
        </form>
    </section>
</div>

<script>
    $("form").submit(function (event) {
        $('.loader').show();
        var data = $('form').serializeArray();
        event.preventDefault();
        if(data[2].value !== data[3].value){
            alert("Password And Reset Password Does not Match");
            $('.loader').hide();
            return;
        }
        $.ajax({
            url: "/password/reset",
            method: 'post',
            data: data,
            success: function (result) {
                $('.loader').hide();
                debugger
                if(result.status){
                    window.location.href = "/";
                }else{
                    alert("Error in Creating New Password! Please Try Again");
                }
            },
            error: function (error){
                $('.loader').hide();
                console.log("error: ", error)
                alert("Something Went Wrong! Please Try Again");
            }
        });
    });
</script>
